# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/
.venv/
ENV/

# VS Code & JetBrains Rider
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# macOS/Linux/Windows system files
.DS_Store
Thumbs.db

# Test & coverage tools
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pipenv / Poetry / other
Pipfile.lock
poetry.lock
*.env
.env.*
